*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 80px 50px 20px;
    justify-content: space-between;
}

header img{
    width: 70px;
    height: 45px;
    padding-bottom: 10px;
}

.nav-cont{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-cont p{
    font-family: "Playfair Display", system-ui;
    font-weight: 500;
    font-size: 22px;
}

.nav-cont p:hover{
    cursor: pointer;
    color: rgb(14, 151, 137);
}

.main-info-cont{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 0;
}

.wh{
    color: rgb(255, 0, 0);
}

.info-txt{
    left: 30px;
    position: absolute;
    z-index: 2;
    text-align: center;
}

.info-txt h1{
    font-size: 66px;
    font-family: "Playfair Display", system-ui;
    font-weight: 600;
}

.info-txt h3 {
  padding-left: 20px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.info-txt p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
   padding-bottom: 15px;
}

.main-info-cont img{
    width: 650px;
    height: 420px;
    position:absolute;
    top: 70px;
    right: 140px;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.carousel-item img {
    width: 100%;
    height: 500px; 
    object-fit: cover;
  }
  
.ex-cont{
    height: 650px;
    width: 100%;
    padding-top: 45px;
}

.ex-cont h1{
    margin-bottom: 25px;
    font-family: "Playfair Display", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}

.line{
    width: 1px;
    height: 120px;
    background-color: rgb(132, 95, 11);
    margin: auto;
}

.ex-photos{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px 50px;
    margin-top: 20px;
}

.photo-cont{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 300px;
    justify-content: center;
    align-items: center;
    transition: all 1.3s;
}

.photo-cont:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.photo-cont img{
    width: 250px;
    height: 250px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.photo-cont h2{
    font-family: "Playfair Display", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.photo-cont p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(132, 95, 11);
    text-align: center;
    font-size: 13px;
}

.art-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 620px;
    padding: 0 50px;
}

.art-cont h1{
    font-family: "Playfair Display", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}


.art-txt-cont{
    display: flex;
    flex-direction: row;

}

.art-txt-cont img{
    width: 30%;
    height: 300px;
}

.txt-cont{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.txt-cont h3{
    font-family: "Playfair Display", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    padding-top: 45px;
    color: rgb(132, 95, 11);
}

.txt-cont p {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.txt1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

  @media screen and (max-width: 768px) {
    .nav-cont {
      display: none;
    }
    header{
        padding: 0;
        height: 45px;
        margin-top: 40px;
    }
    header img{
        margin: auto;
        height: 70px;
        width: 30%;
    }

    .photo-cont{
        margin: auto;
        height: 400px;
    }

    .photo-cont img{
        width: 200px;
        height: 200px;
    }

    .ex-photos{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0px 50px;
        margin-top: 20px;
        justify-content: center;
    }
  }


 